.App {
  text-align: center;
  height: 100%;
  background-color: #282c34;
}

.ant-layout {
  height: 100%;
}

.ant-layout-content {
  flex: 1 0 auto;
}

.ant-modal-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  .modalFooter_display-result {
    flex: 1 1 auto;
    text-align: left;
  }
}

.ant-pagination-jump-prev .ant-pagination-item-container .ant-pagination-item-ellipsis,
.ant-pagination-jump-next .ant-pagination-item-container .ant-pagination-item-ellipsis {
  color: white;
  border: 1px solid;
  border-radius: 4px;
}
